img{
 height: 95%;
 
}

.all-vertical{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
 column-gap: 15px;
 row-gap: 15px;
}


@media (max-width: 1590px) {
 .all-vertical{
  grid-template-columns: 1fr 1fr 1fr 1fr;
 }
}
@media (min-width: 976px) and (max-width: 1350px) {
 .all-vertical{
  grid-template-columns: 1fr 1fr 1fr;
 }
}
@media (min-width: 646px) and (max-width: 975px) {
 .all-vertical{
  grid-template-columns: 1fr 1fr;
 }
}
@media (max-width: 645px) {
 .all-vertical{
  grid-template-columns: 1fr;
 }
}



.img-div{
 position: relative;
 background-color: rgba(200, 200, 200, .28);
 display: flex;
 align-items: center;
 justify-content: center;
 border: 2px solid rgb(114, 113, 113);
 height: 200px;
 width: 1fr;
 contain: content;
}